<!doctype html>
<html lang="en">
  <head>
    <title>Maximum Area of Histogram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Maximum Area of Histogram</h1>
      <form method="POST">
        <div class="form-group">
          <label for="heights">Enter the heights of the histogram (space-separated):</label>
          <input type="text" class="form-control" id="heights" name="heights" required>
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Calculate Maximum Area</button>
      </form>
      {% if max_area is not none %}
      <div class="mt-3">
        <h2>Maximum Area:</h2>
        <p id="result">{{ max_area }}</p>
      </div>
      {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>